<!-- <p>new-calculator works!</p> -->
<div class="parent">
    <div class="child">
        <h1>calculator</h1>
        <div>
            <label for="">num1:</label>
            <input type="number" [(ngModel)]="num1" >
        </div>
        <div>
            <label for="">num2:</label>
            <input type="number" [(ngModel)]="num2">
        </div>

        <!-- <button [disabled]="!num1 || !num2" (click)="sum()">sum</button>
        <button [disabled]="!num1 || !num2" (click)="sub()">sub</button>
        <button [disabled]="!num1 || !num2" (click)="mul()">mul</button>
        <button [disabled]="!num1 || !num2" (click)="div()">div</button> -->

        <h3> {{result}} </h3>
        <hr>
        <app-operations [num1]="num1" [num2]="num2" (result)="catch($event)"></app-operations>
    </div>
</div>