<div class="parent">
    <div class="card">
        <h1>Account Details</h1>
        <label for="">account_name:</label>
        <h2> {{account.account_name}} </h2><br>
        <label for="">available_balance:</label>
        <h2> {{account.available_balance}} </h2><br>
        <label for="">account_number:</label>
        <h2> {{account.account_number}} </h2><br>
        <label for="">city:</label>
        <h2> {{account.city}} </h2><br>
        <div>
            <img src="{{account.profie_picture}}" alt=""><br>
        </div>     
    </div>
</div>