<div class="parent">
    <div class="card">
        <h1>Vehicle Details</h1>
        <label for="">Vehicle:</label>
        <h2> {{vehicle.Vehicle}} </h2><br>
        <label for="">manufacturer:</label>
        <h2> {{vehicle.manufacturer}} </h2><br>
        <label for="">model:</label>
        <h2> {{vehicle.model}} </h2><br>
        <label for="">type:</label>
        <h2> {{vehicle.type}} </h2><br>
        <label for="">fuel:</label>
        <h2> {{vehicle.fuel}} </h2><br>
        <label for="">color:</label>
        <h2> {{vehicle.color}} </h2><br>
        <label for="">cost:</label>
        <h2> {{vehicle.cost}} </h2><br>
        <div>
            <img src="{{vehicle.image}}" alt=""><br>
        </div>     
    </div>
</div>