.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.child{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}
.lt3{
    color: green;
}
.ttf{
    color: yellow;
}
.gtf{
    color: red;
}
.row_highlight{
    background-color: green;
}