.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    text-transform: capitalize;
    text-align: center;
    overflow: auto;
}
.left h2{
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.left h2:hover{
    background-color: gray;
}
.left button{
    margin: 50px 0px;
    padding: 15px;
    width: 80%;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    /* border: 0; */
    background-color: red;
    color: white;
    cursor: pointer;
}
.right{
    width: 80%;
    height: 100%;
    background-color: teal;
    overflow: auto;
}