<!-- git stash task two work completed -->
<div class="parent">
    <div class="left">
        <h1>my website</h1>
        <hr>
        <h2 routerLink="welcome">welcome</h2>
        <h2 routerLink="home">home</h2>
        <h2 routerLink="data-binding">Data Binding</h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="rectangle">rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">bmi</h2>
        <h2 routerLink="wish_grade_app">wish grade app</h2>
        <h2 routerLink="directives">directives</h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="employees_table">employees_table</h2>
        <h2 routerLink="event_registration">event registration</h2>
        <h2 routerLink="cart">cart</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <h2 routerLink="employees_db">employees_DB</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="account">account</h2>
        <h2 routerLink="amazon">amazon</h2>
        <h2 routerLink="mails">mails</h2>
        <h2 routerLink="reload">reload</h2>
        <h2 routerLink="memes">memes</h2>
        <h2 routerLink="create-vehicle">create-vehicle</h2>
        <h2 routerLink="create-account">create-account</h2>
        <h2 routerLink="student-card">student-card</h2>
        <h2 routerLink="create-student-card">create-student-card</h2>
        <h2 routerLink="create-user">create-user</h2>
        <h2 routerLink="create-company">create-company</h2>
        <h2 routerLink="parent">parent</h2>
        <h2 routerLink="new-calculator">new-calculator</h2>
        <h2 routerLink="about-company">about-company</h2>
        <h2 routerLink="payments/card-payment">card-payment</h2>
        <h2 routerLink="sibling-communication">sibling-communication</h2>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>