<div class="parent">
    <div class="left">
        <h1>my website</h1>
        <hr>
        <h2 routerLink="welcome">welcome</h2>
        <h2 routerLink="home">home</h2>
        <h2 routerLink="data-binding">Data Binding</h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="rectangle">rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">bmi</h2>
        <h2 routerLink="wish_grade_app">wish grade app</h2>
        <h2 routerLink="directives">directives</h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="employees_table">employees_table</h2>
        <h2 routerLink="event_registration">event registration</h2>
        <h2 routerLink="cart">cart</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>