button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.3s;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

button:not([disabled]):hover {
    background-color: #004d40;
}